.Button {
  border: 1px solid#ff0000;
  padding: 0.4em 0.6em;
  border-radius: 0.8em;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 0;
    margin: 0;
  }
  .icon {
    margin: 0 8px;
    font-size: 1.2em;
  }
  &:hover {
    background-color: #ff0000;
    cursor: pointer;
    .icon {
      animation: icon-shake 0.8s linear;
    }
  }
  &:active {
    transform: scale(1.1);
  }
}

@keyframes icon-shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
