.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #000000bf;
  &:hover {
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 90vh;
  background-color: white;
  color: #3a2727;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 0 2px 8px #300e0e;
  z-index: 11;
  animation: slide-down 300ms ease-out forwards;
  overflow: scroll;
}
