.Home {
  width: 100%;
  .Hero {
    height: 100vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      height: 80%;
      border-radius: 1.4em;
      box-shadow: 0 0 12px 3px #311e1e;

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        .image {
          width: 450px;
          height: 450px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
          width: 70%;
          p {
            text-align: start;
          }
        }
        .media-links {
          display: flex;
          justify-content: space-around;
          a {
            margin: 0 0.5em;
            color: #ffffff;
            &:hover {
              color: #880707;
            }
          }
        }
      }
    }
  }
  .Work {
    width: 100%;
    .work-cards-wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  .Resume {
    width: 90%;
    margin: 7em auto;
    h1 {
      color: #880707;
    }
    .info {
      margin-top: 3em;
      height: 80vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .personal-info {
        .list {
          margin-top: 2em;
          text-align: start;
          display: grid;
          grid-template-columns: 1fr 1fr;
          list-style: none;
          padding: none;
          .list-item {
            margin: 1em 0;
            .title {
              font-size: 1.2em;
              font-weight: 800;
            }
            a {
              text-decoration: none;
              color: #474444;
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
        .brands {
          background-color: #000000e8;
          margin: 0 auto;
          height: 30%;
          width: 80%;
          .gallery {
            margin: 0 auto;
            transform: translate(0px, 32px) rotateX(-13deg) rotateY(0deg)
              rotateZ(0deg) scale(0.9);
            transform-style: preserve-3d;
            perspective: 1000px;
            width: 150px;
            height: 140px;

            .carousel {
              width: 100%;
              height: 100%;
              transform-style: preserve-3d;
              animation: rotation 10s infinite linear;
              figure {
                position: absolute;
                justify-content: center !important;
                display: flex !important;
                width: 90%;
                height: 78%;
                left: 10px;
                top: 10px;
                overflow: hidden;
                .icon {
                  margin: 0 69px;
                  transition: all 0.5s ease;
                }
              }
              figure:nth-child(1) {
                transform: rotateY(0deg) translateZ(230px);
              }
              figure:nth-child(2) {
                transform: rotateY(60deg) translateZ(230px);
              }
              figure:nth-child(3) {
                transform: rotateY(120deg) translateZ(230px);
              }
              figure:nth-child(4) {
                transform: rotateY(180deg) translateZ(230px);
              }
              figure:nth-child(5) {
                transform: rotateY(240deg) translateZ(230px);
              }
              figure:nth-child(6) {
                transform: rotateY(300deg) translateZ(230px);
              }
            }
          }
        }
        .button {
          margin: 4em auto;
        }
      }
      .Wakatime {
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .figure {
          height: 100%;
          width: 100%;
        }
        a {
          height: 100%;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .background {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .Projects-section {
    width: 70%;
    margin: 10em auto;
    .title-topButton {
      display: flex;
      justify-content: space-between;
      text-align: start;
      // align-items: center;
      .title {
        width: 45%;
        h1 {
          margin: 0;
          color: #880707;
        }
      }
    }
    .projects-wrapper {
      margin-top: 2em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      row-gap: 4em;
    }
  }
  .Contact {
    width: 70%;
    margin: 10em auto;
    h1 {
      color: #880707;
    }
    .contact-wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
      text-align: start;
      width: 100%;
      gap: 2em;
      height: max-content;
      .left {
        p:nth-child(1) {
          color: #363636;
        }
        h4 {
          margin: 0.1em;
        }
        .SocialCardWrappers {
          width: 100%;
          margin: 3em 0;
          .SocialCard {
            margin: 3em 0;
            width: max-content;
            display: grid;
            grid-template-columns: auto auto;
            gap: 3em;
            justify-content: space-between;
            align-items: center;
            .icon {
              font-size: 5em;
            }
          }
        }
      }
      .right {
        height: 100%;
        display: flex;

        padding-top: 3em;
        justify-content: center;

        form {
          width: 80%;
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          input {
            height: 3em;
            border-radius: 1em;
            border: none;
            padding: 1em;
          }
          textarea {
            min-height: 9em;
            border-radius: 1em;
            padding: 1em;
          }
          .button {
            border: 1px solid #641c1c;
            padding: 0.4em 0.6em;
            border-radius: 0.8em;
            width: max-content;
            height: max-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2em;

            p {
              padding: 0;
              margin: 0;
            }
            .icon {
              margin: 0 8px;
              font-size: 1.2em;
            }
            &:hover {
              background-color: #641c1c;
              cursor: pointer;
            }
            &:active {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  .Blog {
    width: 70%;
    margin: 10em auto;
    .title-topButton {
      display: flex;
      justify-content: space-between;
      text-align: start;
      // align-items: center;
      .title {
        width: 45%;
        h1 {
          margin: 0;
          color: #880707;
        }
      }
    }
    .blog-wrapper {
      margin-top: 4em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2em;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 1500px) {
  .Home {
    .Hero {
      .wrapper {
        .left {
          .image {
            height: 40vh;
            width: 40vh;
          }
        }
      }
    }
    .Work {
      .work-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
      }
    }
    .Resume {
      .background {
        grid-template-columns: 1fr;
        row-gap: 5em;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    .Projects-section {
      .projects-wrapper {
        grid-template-columns: 1fr 1fr;
      }
    }
    .Blog {
      .blog-wrapper {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .Home {
    .Projects-section {
      width: 100%;
    }
    .Blog {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .Home {
    .Hero {
      min-height: 70vh;
      .wrapper {
        grid-template-columns: 1fr;
        gap: 0;
        justify-content: center;
        .left {
          align-items: end;
          .image {
            width: 20vh;
            height: 20vh;
          }
        }
        .right {
          justify-content: flex-start;
          .text {
            width: 90%;
            p {
              text-align: center;
            }
          }
        }
      }
    }
    .Resume {
      .info {
        grid-template-columns: 1fr;
        height: max-content;
      }
    }
    .Contact {
      width: 100%;
      .contact-wrapper {
        grid-template-columns: 1fr;
        .left {
          p {
            font-size: 0.8em;
          }
          .SocialCardWrappers {
            margin-bottom: 1em;
            .SocialCard {
              .icon {
                font-size: 4em;
              }
            }
          }
        }
        .right {
          padding-top: 1em;
          form {
            height: auto;
            input {
              margin: 0.5em 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Home {
    .Work {
      .work-cards-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
      }
    }
    .Resume {
      .info {
        row-gap: 3em;
        .personal-info {
          .list {
            grid-template-columns: 1fr;
            .list-item {
              margin: 0.5em;
            }
          }
          .brands {
            .gallery {
              .carousel {
                .figure {
                  .icon {
                    font-size: 0.1em;
                  }
                }
                figure:nth-child(1) {
                  transform: rotateY(0deg) translateZ(160px);
                }
                figure:nth-child(2) {
                  transform: rotateY(60deg) translateZ(160px);
                }
                figure:nth-child(3) {
                  transform: rotateY(120deg) translateZ(160px);
                }
                figure:nth-child(4) {
                  transform: rotateY(180deg) translateZ(160px);
                }
                figure:nth-child(5) {
                  transform: rotateY(240deg) translateZ(160px);
                }
                figure:nth-child(6) {
                  transform: rotateY(300deg) translateZ(160px);
                }
              }
            }
          }
        }
      }
    }
    .Projects-section {
      .title-topButton {
        .title {
          h1 {
            font-size: 0.85em;
          }
          p {
            font-size: 0.3em;
          }
        }
        .button {
          height: max-content;
          // width: 30%;
        }
      }
      .projects-wrapper {
        grid-template-columns: 1fr;
      }
    }
    .Blog {
      .title-topButton {
        .title {
          h1 {
            font-size: 0.85em;
          }
          p {
            font-size: 0.3em;
          }
        }
        .button {
          height: max-content;
          // width: 30%;
        }
      }
      .projects-wrapper {
        grid-template-columns: 1fr;
      }
      .blog-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}
